$baseline: 1.5rem;

$background: #f1f2ee;
$color: #251101;

$links: #1864ab;
$hover-links: #1864ab;
$visited-links: #1864ab;

$font-size: 1.125rem;
$font-family: Segoe UI, system-ui, -apple-system, sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular, Consolas, Liberation Mono, Menlo,
  monospace;
